body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Define scrollbar width and color */
::-webkit-scrollbar {
  width: 5px;
  /* Adjust the width as needed */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0F7641;
  /* Change color as needed */
  border-radius: 10px;
  /* Make scrollbar thumb round */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0C5E33;
  /* Change color on hover if desired */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  /* You can set a background color here if desired */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
  /* Change background on hover if desired */
}